.login_or_register {
  display: flex;
  color: #000000;

  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;

  position: relative;
  align-items: center;

  vertical-align: middle;
  background-color: #1c1c1c;
  flex-direction: column;
  justify-content: center;

  border: 1px solid #777;
  background-color: #F1E8E6;

  width: 400px;
  padding: 30px;
  border-radius: 30px;
}

.loging_page {
  display: flex;
  color: #000000;

  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;

  position: relative;
  align-items: center;

  vertical-align: middle;
  background-color: #1c1c1c;
  flex-direction: column;
  justify-content: center;

  border: 1px solid #777;
  background-color: #EDD2CB;

  width: 400px;
  padding: 30px;
  border-radius: 20px;
/*  box-shadow: 5px 5px 0 #555;*/
}

.loging_page .container {
  display: flex;
  flex-direction: column;
  align-items: start;
}

/* Inputs */
.loging_page input[type=text], 
.loging_page input[type=password], 
.loging_page input[type="email"] {
  width: 300px;
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
  background-color: #f8f8f8;
  color: #000000;
  font-size: 1.2rem;
/*  text-shadow: 1px 1px #333;
 transform: skewX(-10deg);*/
}

.loging_page input[type=text]:focus,
.loging_page input[type="email"]:focus,
.loging_page input[type="password"]:focus {
 outline: none;
 box-shadow: inset 0 0 15px rgba(0,0,0,0.5);
}

.loging_page input[type=text]:hover,
.loging_page input[type="email"]:hover,
.loging_page input[type="password"]:hover {
 outline: none;
 box-shadow: inset 0 0 5px rgba(0,0,0,0.5);
}

/* Submit button */
.loging_page input[type=submit] {
  background-color: #361D32;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  font-size: 1.2rem;
  margin-left: 35%;
 /* text-shadow: 1px 1px #333;
  transform: skewX(-10deg);*/
}

.loging_page input[type=submit]:hover {
  background-color: #f26b6f;
}

.register-link {
  margin-top: 20px;
  font-size: 0.8rem;
  text-align: center;
}

.register-link a {
  color: #fff;
  text-decoration: underline;
}

.register-link a:hover {
  color: #d9454e;
}

.social-login {
  display: flex;
  justify-content: center;
}

.social-login a {
  display: flex;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  background-color: #444;
  color: #fff;
  box-shadow: 0 0 5px rgba(0,0,0,0.3);
  text-align: center;
  text-decoration: none;
  transform: skewX(-10deg);
}
.token-input-container {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.token-input {
  flex-grow: 1;
  border: 2px solid transparent;
  padding: 10px;
  border-radius: 5px;
  background-color: #f8f8f8;
}

/* Fixed width for spinner and checkmark container */
.spinner, .checkmark-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px; /* Assign a fixed width */
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  border-top: 4px solid blue;
  width: 20px;
  height: 20px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.token-input.invalid {
  border-color: red;
}

.token-input.valid {
  border-color: green;
}
