* {
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lex', cursive;
}

body,
html {
  height: 100%;
  max-width: 100vw;
  
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;

  align-items: normal;

  color: #fff;
  background-color: #543C52;
}

header {
  background-color: #1a0924;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  margin: 0;
  font-size: 36px;
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

section {
  margin-bottom: 40px;
}

.root {
  display: flex;
  flex-direction: column;
  max-width: 100vw;
  min-height: 100vh;
}

.content {
  flex: 1;
}

.games-container {
  display: flex;
  flex-direction: column;
  align-items: normal;
  
  border: 1px solid #511152;
  background-color: #170317;
  
  padding: 30px;
  margin-bottom: 40px;
  border-radius: 10px;
  box-shadow: 5px 5px 0 #555;  
}

.games-container:after {
  content: "";
  display: table;
  clear: both;
}

.games-container ul {
  flex-wrap: wrap;
  display: flex;
  padding-inline: 50px;
}

.games-container ul li {
  flex: 1 0 25%;
  width:33.333333%
}

.games-container ul li img {
  max-width: 100%;
}

.main {
  padding: 20px;
  min-height: 100hv;
}

.games-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.randomGameItem {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 16px;
  border: 1px solid #ccc;
  background-color: #190b2e;
  border-radius: 8px;
}

.randomGameItem img {
  width: 400px;
  height: 300px;
  object-fit: cover;
  border-radius: 8px;
}

.randomGameItem .textSection {
  flex-grow: 1;
  text-decoration: none;
}

.randomGameItem h3 {
  margin: 0;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  color: brown;
}

.randomGameItem p {
  margin: 8px 0;
  font-size: 16px;
  color: #ffffff;
}

.randomGameItem a {
  text-decoration: none;
}

