/* table.css */

.table-container {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 20px;
    background-color: #190c31;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.table-container table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.table-container th, td {
    text-align: left;
    padding: 8px;
    border: 1px solid #dddddd;
}

.table-container th {
    background-color: #4f165c;
}

.table-container tr:nth-child(odd) {
    background-color: #210a1b;
}

.table-container tr:nth-child(even) {
    background-color: #280c2e;
}

.table-container .mapping-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
    padding: 5px;
    background-color: #9d4a7d;
    border-radius: 4px;
}

.table-container .mapping-row span {
    flex-grow: 1;
}

.table-container button {
    padding: 5px 10px;
    margin-left: 10px;
    background-color: #5c6bc0;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.table-container button:hover {
    background-color: #3949ab;
}

.table-container select {
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #ddd;
}

/* Align the Add button and select dropdown */
.table-container td > button, td > select {
    vertical-align: top;
}

/* Spacing for the Remove buttons inside the mappings */
.table-container .mapping-row > button {
    padding: 2px 5px;
    background-color: #ef5350;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.table-container .mapping-row > button:hover {
    background-color: #d32f2f;
}

/* Style for the 'Add' and 'Remove' buttons */
.table-container .add-button, .remove-button {
    min-width: 80px;
    box-sizing: border-box;
}
